_build/
node_modules
package-lock.json
*.xlsx
.vscode
www/api/**/*.json
www/api/**/*.xml
www/documents/**/*.pdf
www/history/*.html
www/_data/store.json
www/_data/history.json
www/.jekyll-cache
snapshot-*
/temp
