---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.masthead {
  border-bottom: none;
  &, #site-nav {
    background: #0071bc;
  }
  #site-nav {
    a {
      color: white;
    }
    a:before {
      background: white;
    }
    .navicon, .navicon:before, .navicon:after {
      background: white;
    }
  }
  .masthead__menu-item:last-child a {
    margin-right: 0;
  }
}

.worldbank-logo {
  padding: 0.5em 1em;
  img {
    max-width: 240px;
  }
  display: none;
  @include breakpoint($small) {
    display: block;
  }
}

#architecture-diagram {
  padding: 50px 20px 20px 20px;
  width: 100%;
  height: 1200px;
  border: 1px solid gray;

  .container {
    position: relative;
  }

  .node {
    padding: 25px;
    box-shadow: 2px 2px 4px #666;
    margin: 0 auto 100px auto;
    font-size: 20px;

    .info {
      display: none;
    }

    &.connector-tooltip {
      border: none;
      padding: 0;
      height: 20px;
      box-shadow: none;

      .icon-container {
        background: white;
      }
    }

    i {
      margin: 0 5px;
      font-size: large;
    }
  }

  .repo {
    background-color: #2980B9;
    color: white;
  }

  .cat {
    background-color: #27AE60;
    color: white;
  }

  .local {
    background-color: #333;
    color: white;
  }

  .host {
    background-color: #ffff7f;
  }

  #authoring-tool {
    width: 200px;
  }

  #translation-source {
    width: 300px;

  }

  #translation-platform {
    width: 150px;
  }

  #translation-targets {
    width: 270px;
  }

  #hosting-provider {
    width: 205px;
  }

  #output {
    width: 410px;
  }

  .connector-tooltip { z-index: 3; }
  .jtk-connector { z-index:4; }
  .jtk-endpoint { z-index:5; }
  .jtk-overlay { z-index:6; }
  .tooltip { z-index:7; }
}

/* Popperjs tooltip styles */
.tooltip {
  position: absolute;
}
.inner {
  background: lightpink;
  color: black;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 99999;
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #FFC107;
}
.tooltip[x-placement^="top"] {
  margin-bottom: -10px;
}
.tooltip[x-placement^="top"] .inner {
  margin-bottom: 15px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
  margin-top: -10px;
}
.tooltip[x-placement^="bottom"] .inner {
  margin-top: 15px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip a:visited, .tooltip a {
  color: black;
  text-decoration: underline;
}

.test-banner {
  margin: 10px auto;
  background-color: yellow;
  padding: 5px;
}

.layout--indicator {
  .download-buttons {
    margin-bottom: 10px;
  }
  .indicator-fields {
    list-style-type: none;
    padding: 0;
  }
  .page__content {
    h1 {
      border-bottom: 2px solid #BBB;
      padding-bottom: 10px;
      margin-top: 20px;
    }
    h2 {
      margin-top: 20px;
    }
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    img {
      max-width: 100%;
    }
    .footnotes {
      border-top: 1px solid #BBB;
      border-bottom: 1px solid #BBB;
      margin: 25px 0;
      padding: 25px 15px 20px 25px;
      font-size: 14px;
      list-style-type: none;
      color: #444;
      div:last-child p {
        margin-bottom: 0;
      }
      sup {
        float: left;
        margin-right: 5px;
        margin-left: -11px;
      }
    }
  }
}

.goal-link {
  float: left;
  max-width: 125px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.language-ar {
  &.layout--indicator {
    .page, .sidebar {
      direction: rtl;
    }
  }
}

.layout--history {
  .version-buttons {
    list-style: none;
    padding: 0;
    i {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.weblate-stats {
  li {
    width: 100%;
    position: relative;
    height: 60px;
    .weblate-stats-total {
      width: 100%;
      border: 1px solid black;
      background-color: white;
    }
    .weblate-stats-total, .weblate-stats-part {
      height: 25px;
      display: inline-block;
      position: absolute;
      top: 30px;
      left: 0;
    }
    .weblate-stats-approved {
      background-color: #00d2e6;
    }
    .weblate-stats-needs-edit {
      background-color: #f6664c;
    }
    .weblate-stats-failing-check {
      background-color: yellow;
    }
    .weblate-stats-part {
      border-left: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}