---
layout: single
---
<p>This revision history displays all updates incorporated into this metadata file
by the World Bank Translation Project Team. Each date listed refers to an update
made by the team to the English metadata file.</p>
<ul>
    <li><strong>Only updates made by the World Bank Translation Project Team are shown.</strong></li>
    <li><strong>The original source file for all English metadata files is the
        <a href="https://unstats.un.org/sdgs/metadata/">UNSD SDG Metadata Repository</a>.</strong></li>
</ul>
<ul>
    {% for version in page.history %}
    <li>
        {{ version.date | date: '%B %d, %Y' }}<br>
        <a class="btn btn--info" href="{{ site.baseurl }}/history/{{ version.renderedDiff }}">Comparison</a>
        <a class="btn btn--info" href="{{ site.baseurl }}/history/{{ version.sourceDiff }}">Raw changes</a>
        <a class="btn btn--info" href="https://github.com/worldbank/sdg-metadata/commit/{{ version.commit }}">Github</a>
    </li>
    {% endfor %}
</ul>
