---
layout: single
---
<p>This revision history displays all updates incorporated into this metadata file
by the World Bank Translation Project Team. Each date listed refers to an update
made by the team to the English metadata file.</p>
<ul>
    {% for version in page.history %}
    <li>
        {{ version.date | date: '%B %d, %Y' }}<br>
        <a class="btn btn--info" href="{{ site.baseurl }}/history/{{ version.renderedDiff }}">Comparison</a>
        <a class="btn btn--info" href="{{ site.baseurl }}/history/{{ version.sourceDiff }}">Raw changes</a>
        <a class="btn btn--info" href="https://github.com/worldbank/sdg-metadata/commit/{{ version.commit }}">Github</a>
    </li>
    {% endfor %}
</ul>
<p>
    Note: "Github" points to the record of the change on Github.com in which the
    metadata file was updated. This view is helpful for project managers to
    identity the reason and author of the change.
</p>