---
layout: single
---
{{ site.data.languages[page.language].blurb | markdownify }}

<div class="statistics-buttons">
{% if page.language != 'en' %}
  <a class="btn btn--info" href="statistics/">{{ site.data.store.t[page.language].site.STATISTICS | default: 'Translation statistics' }}</a>
{% endif %}
  <a class="btn btn--info" href="all/">All metadata</a>
</div>

{% for goal in page.goals %}
<a class="goal-link" href="{{ goal }}">
  <img src="{{ site.baseurl }}/assets/img/goals/{{ page.language }}/{{ goal }}.png" alt="Goal {{ goal }}" />
</a>
{% endfor %}
