---
layout: single
---
{% capture translation-status-legend %}{% include translation-status-legend.html %}{% endcapture %}
{{ translation-status-legend | markdownify }}

Choose an indicator below:

<ul>
{% for indicator in page.indicators %}
  <li>
    <a class="btn btn--info" href="{{ site.baseurl }}/metadata/{{ page.language }}/{{ indicator }}">{{ indicator | replace: '-', '.' }}</a>
    {% if page.language != 'en' %}
      {% assign stats = site.data.stats[page.language].indicators[indicator] %}
      {% include translation-status.html stats=stats %}
    {% endif %}
  </li>
{% endfor %}
</ul>